[color]
    ui = 1
[color "branch"]
    current = red
    local = yellow
    remote = green
[color "diff"]
    meta = cyan
    frag = magenta
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    st = status -sb
    lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[push]
    default = simple
[user]
    email = ppeposp@gmail.com
    name = Philippe Pepos Petitclerc
